@import "tailwindcss";

@theme {
  --color-indigo-50: var(--primary-50);
  --color-indigo-100: var(--primary-100);
  --color-indigo-200: var(--primary-200);
  --color-indigo-500: var(--primary-500);
  --color-indigo-600: var(--primary-600);
  --color-indigo-700: var(--primary-700);
  --color-indigo-800: var(--primary-800);
  --color-indigo-900: var(--primary-900);
  --color-indigo-950: var(--primary-950);
}

:root {
  /* Default Theme (Indigo) */
  --primary-50: #eef2ff;
  --primary-100: #e0e7ff;
  --primary-200: #c7d2fe;
  --primary-500: #6366f1;
  --primary-600: #4f46e5;
  --primary-700: #4338ca;
  --primary-800: #3730a3;
  --primary-900: #312e81;
  --primary-950: #1e1b4b;

  --sidebar-bg: #0f172a;      /* slate-900 */
  --sidebar-border: #1e293b;  /* slate-800 */
  --sidebar-hover: #1e293b;   /* slate-800 */
}
